<%= render('layouts/navbar') %>
<div class="container-fluid">
  <div class="col-md-12 p-3">
    <div class="row">
      <h1>Location Index</h1>
      <%= link_to "Add New Location", new_location_path, {class: "btn btn-lg btn-primary ml-auto"} %>
    </div>
    <div class="row mt-3">
      <div id="locationData" data-locations="<%= @locations.to_json %>"></div>
      <div id="sharedLocationData" data-locations="<%= @shared_locations.to_json %>"></div>
      <div id="dashboardMap" class="showMap ml-0"></div>
      <%= javascript_pack_tag "showDashboardMap" %>
    </div>
  </div>
</div>