<%= render('layouts/navbar') %>
<%= form_with model: @location do |form| %>
  <div class="container-fluid">
    <div class="col-md-12 p-3">
      <div class="row">
        <h1>Share your places</h1>
      </div>
      <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                <%= form.label :location_name %>
                <%= form.text_field :location_name, { class: "form-control" } %>
                <% @location.errors.full_messages_for(:location_name).each do |message| %>
                  <div><%= message %></div>
                <% end %>
              </div>
              <div class="form-group">
                <%= form.label :is_private, "Public Share" %>
                <%= form.radio_button :is_private, false %>
                <%= form.label :is_private, "Yes" %>
                <%= form.radio_button :is_private, true %>
                <%= form.label :is_private, "No" %>
              </div>
              <div class="form-group">
                <%= form.label :shared_with, "Shared with" %>
                <%= form.select :shared_with, @users.map {|user| [user.display_name, user.id]}, {  }, { class: "form-control", multiple: true } %>
              </div>
              <div class="form-group">
                <%= form.submit "Share my location", { class: "btn btn-md btn-primary" } %>
              </div>
          </div>
          <div class="col-md-6">
              <% errors = [] %>
              <% @location.errors.full_messages_for(:latitude).each do |message| %>
                <% errors.push(message) %>
              <% end %>
              <% @location.errors.full_messages_for(:longitude).each do |message| %>
                <% errors.push(message) %>
              <% end %>
              <%= form.hidden_field :latitude %>
              <%= form.hidden_field :longitude %>
              <%= form.label :latitude, "Please click on the map to pinpoint your location" %>
              <div id="locationMap" class="inputMap"></div>
              <%= javascript_pack_tag "openLayers" %>
              <div><%= errors.join(", ") %></div>
          </div>
      </div>
    </div>
  </div>
<% end %>